jobs:
  apt-fast:
    name: Check timestamps whether snowstep/apt-fast is older than libraries
    needs:
      - dockerhub
      - libraries
    outputs:
      datetimes: ${{ toJSON(steps.datetimes.outputs) }}
      outdated-count: ${{ steps.outdated-count.outputs.value }}
    runs-on: ubuntu-latest
    steps:
      - name: Download debian datetimes
        uses: actions/download-artifact@v6
        with:
          name: debian
      - name: Download ubuntu datetimes
        uses: actions/download-artifact@v6
        with:
          name: ubuntu
      - id: datetimes
        name: Get libraries datetimes newer than snowstep/apt-fast
        run: |
          for key in debian:bookworm debian:bullseye debian:trixie ubuntu:focal ubuntu:jammy ubuntu:noble; do
            distro=${key%%:*}
            codename=${key##*:}
            matched=$(grep -P "^$codename=" < $distro.txt)
            datetime=${matched##*=}
            version=$(grep -P ",$codename," < /usr/share/distro-info/$distro.csv | sed -r 's/(\s+[^,]*)?,.*$//')
            dockerhub=$(
              jq -Mcr ".\"$distro-$version\"" << _EOT_
          ${{ needs.dockerhub.outputs.timestamp }}
          _EOT_
            )
            [[ $dockerhub -lt $datetime ]] \
              && {
                echo "libraries/$distro-$version is newer than snowstep/apt-fast:$distro-$version-latest" >&2
                echo $distro-$version=$datetime
              } \
              || {
                echo "libraries/$distro-$version is not newer than snowstep/apt-fast:$distro-$version-latest" >&2
              }
          done >> $GITHUB_OUTPUT
        shell: bash
      - id: outdated-count
        name: Count how many tags outdated
        run: |
          count=$(
            jq -Mcr 'length' \
              << _EOT_
          ${{ toJSON(steps.datetimes.outputs) }}
          _EOT_
          )
          echo value=$count >> $GITHUB_OUTPUT
        shell: bash
  dockerhub:
    name: See the latest snowstep/apt-fast on DockerHub
    outputs:
      timestamp: ${{ toJSON(steps.latest.outputs) }}
    runs-on: ubuntu-latest
    steps:
      - id: latest
        name: Get the latest timestamp snowstep/apt-fast
        run: |
          api="https://hub.docker.com/v2/namespaces/snowstep/repositories/apt-fast/tags?page=1&page_size=100"
          declare -A digests
          tags='[]'
          while [[ $api != "null" ]]; do
            json=$(curl -s "$api")
            results=$(jq -Mcr '.results' <<< $json || :)
            [[ -z $results ]] \
              || tags=$(echo $tags $results | jq -Mcr --slurp add)
            api=$(jq -Mcr '.next' <<< $json)
          done
          echo ::group::digests >&2
          while read -r digest name; do
            echo "$name=$digest" >&2
            name=${name%-*}
            digests[$name]=$digest
          done < <(
            jq -Mcr '.[]|select(.name|endswith("-latest"))|[.digest,.name]|@tsv' \
              <<< $tags
          )
          echo ::endgroup:: >&2
          for name in ${!digests[@]}; do
            digest=${digests[$name]}
            jq -Mcr \
              ".[]|select(.digest==\"$digest\")|select(.name|endswith(\"-latest\")|not).name" \
              <<< $tags \
              | while read -r name; do
                echo ${name%-*}=${name##*-} >> $GITHUB_OUTPUT
              done
          done
        shell: bash
  libraries:
    name: See ${{ matrix.distro }} on DockerHub
    runs-on: ubuntu-latest
    steps:
      - name: Get timestamps of ${{ matrix.distro }}
        run: |
          api="https://hub.docker.com/v2/namespaces/library/repositories/${{ matrix.distro }}/tags?page=1&page_size=100"
          while [[ $api != "null" ]]; do
            echo "::group::${api#*\?}"
            json=$(curl -s "$api")
            jq -Mcr '.results[]|[.name,[.images[]|select(.architecture=="amd64").last_pushed]]|flatten|@tsv' \
              <<< $json \
              | while read -r name last_pushed; do
                echo $name=$(date --date="$last_pushed" '+%Y%m%d%H%M%S') \
                  | tee -a ${{ matrix.distro }}.txt
              done
            echo ::endgroup::
            api=$(jq -Mcr '.next' <<< $json)
          done
        shell: bash
      - name: Upload ${{ matrix.distro }} datetimes
        uses: actions/upload-artifact@v5
        with:
          name: ${{ matrix.distro }}
          path: ${{ matrix.distro }}.txt
          retention-days: 1
    strategy:
      matrix:
        distro:
          - debian
          - ubuntu
  patch:
    if: ${{ needs.apt-fast.outputs.outdated-count > 0 }}
    name: Patch the description to DockerHub
    needs:
      - apt-fast
      - publish
    secrets: inherit
    uses: ./.github/workflows/patch.yml
    with:
      DOCKERHUB_USERNAME: ${{ vars.DOCKERHUB_USERNAME }}
  publish:
    if: ${{ needs.apt-fast.outputs.outdated-count > 0 }}
    name: Publish
    needs:
      - apt-fast
    runs-on: ubuntu-latest
    steps:
      - id: distro
        uses: kei-g/github/debian/resolve-distro@main
        with:
          codename: ${{ matrix.codename }}
      - id: datetime
        name: Get datetime
        run: |
          datetime=$(
            jq -Mcr ".\"${{ steps.distro.outputs.long-name }}\"" \
              << _EOT_
          ${{ needs.apt-fast.outputs.datetimes }}
          _EOT_ \
              || echo 0
          )
          echo value=$datetime >> $GITHUB_OUTPUT
        shell: bash
      - if: ${{ steps.datetime.outputs.value > 0 }}
        name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 1
      - if: ${{ steps.datetime.outputs.value > 0 }}
        name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3
      - if: ${{ steps.datetime.outputs.value > 0 }}
        name: Copy Dockerfile
        run: cp docker/linux/${{ matrix.codename }}/Dockerfile ./
      - if: ${{ steps.datetime.outputs.value > 0 }}
        name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
          username: ${{ vars.DOCKERHUB_USERNAME }}
      - id: metadata
        if: ${{ steps.datetime.outputs.value > 0 }}
        name: Decide tags
        uses: docker/metadata-action@v5
        with:
          images: ${{ vars.DOCKERHUB_USERNAME }}/apt-fast
          tags: |
            type=raw,value=${{ matrix.codename }}
            type=raw,value=${{ steps.distro.outputs.long-name }}-latest
            type=raw,value=${{ steps.distro.outputs.long-name }}-${{ steps.datetime.outputs.value }}
      - if: ${{ steps.datetime.outputs.value > 0 }}
        name: Run Buildx and Push it to DockerHub
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            ${{ steps.metadata.outputs.tags }}
    strategy:
      matrix:
        codename:
          - bookworm
          - bullseye
          - focal
          - jammy
          - noble
          - trixie
name: Check updates
on:
  schedule:
    - cron: '55 2,10,18 * * *'
  workflow_dispatch:
